<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSetegne - 2019 Big Data Bowl Submission</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/favicons/apple-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/favicons/apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/favicons/apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicons/apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/favicons/apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/favicons/apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicons/apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/favicons/apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-icon-180x180.png') }}">
	<link rel="icon" type="image.png" sizes="192x192"  href="{{ url_for('static', filename='images/favicons/android-icon-192x192.png') }}">
	<link rel="icon" type="image.png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}">
	<link rel="icon" type="image.png" sizes="96x96" href="{{ url_for('static', filename='images/favicons/favicon-96x96.png') }}">
	<link rel="icon" type="image.png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='images/favicons/manifest.json') }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/favicons/ms-icon-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">
</head>

<body>

	<div class="container-2">
		<div>
		<b>
		  <span>2019 NFL Big Data Bowl Submission</span>
		  <br>
		  <span>by Sam Setegne</span>
		</b>
		</div>
	</div>

	<div class="container-2">
	  <a href="/csm/v1">  
		<div class="btn btn-two">
		  <span>Catch Separation Prediction Tool</span>
		</div>
	  </a>
	</div>

	<div class="container-2">
	  <a href="/games">
		<div class="btn btn-two">
		  <span>Visualize Tracking Data</span>
		</div>
	  </a>
	</div>

<a  href="https://github.com/samsetegne/SSetegne-NFL-Big-Data-Bowl-Submission" target="_blank">
<img src="{{ url_for('static', filename='images/github.png') }}" width="300" height="100">
</a>

</body>

</html>